<div class="leading-5 menu">
 <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/raf_museum.html">RAF Museum</a></li>
    <li><a href="/elr.html">ELR Steam Gala</a></li>
    <li><a href="/darwen.html">Darwen Tower</a></li>
    <li><a href="/fics.html">Fic Downloads</a></li>
    <li><a href="/fics/dragon.html">Xena and the Dragon</a></li>
    <li><a href="/fics/cyclops.html">Xena and the Cyclops</a></li>
    <li><a href="/fics/howimet.html">How I met Xena</a></li>
    <li><a href="/fics/fam.html">Family Trouble</a></li>
</ul>
</div>
